@charset "UTF-8";       /* 인코딩 문자 깨짐 방지 */

/* 공통속성 */

html {
    /* 사용자 설정 문자 크기 그대로 반영 되도록 */
    font-size : 100%;
}

body {
    line-height: 2.0;
    color : #432;
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
    color : #432;
}

img {
    border: 0 none;
    vertical-align: top;
}
/* 기본 요소의 적용되는 margin, padding값 0으로 초기화*/
body, div, dl, dt, dd, ul, ol, li, 
h1, h2, h3, h4, h5, h6, pre, code, 
form, fieldset, legend, textarea, 
p, blockquote, th, td, input, select, 
textarea, button {
    margin: 0;
    padding: 0;
}

div {
    display: block;
}
/* 리스트 블릿 기호 삭제 */
dl, ul, ol, li {
    list-style: none;
}


/*--------------------------------------------------------------------------------------------------------------*/



/* footer ----------------------------------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, address, caption, em, th, p {
    font-style: normal;
    font-weight: normal;
}

footer {
    font-family: 'Nanum Gothic', sans-serif;
}

#footer {
    min-width: 1100px;
    width: 100%;
    height: 220px;
    margin: 0;
    padding: 0;
    background: rgb(40, 40, 40);
    color: rgb(230, 230, 230);
}

#footer .footer-top {
    width: 1100px;
    margin: 0 auto;
    padding: 30px 0 0;
}

#footer .footer-top .footer-policy {
    float: left;
    padding-left: 0;
}

ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

#footer .footer-top .footer-policy li:first-child {
    margin-left: 0;
}

#footer .footer-top .footer-policy li {
    float: left;
    margin-left: 18px;
}

#footer .footer-top .footer-policy li a {
    display: block;
    color: white;
    line-height: 30px;
    font-size: 1em;
}

#footer .footer-bottom {
    width: 1100px;
    margin: 0 auto;
    padding: 0;
}

#footer .footer-bottom .footer-inner {
    width: 600px;
}

#footer .footer-bottom .footer-info {
    float: left;
    font-size: 0.8em;
}

#footer p {
    margin: 0;
    padding: 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    
}

#footer .footer-bottom .footer-info p.copy {
    display: block;
}

#footer .footer-bottom .footer-info p {
    display: inline-block;
    vertical-align: top;
}

#footer .footer-bottom .footer-call {
    float: right;
    font-size: 0.8em;
}

#footer-cs {
    font-size: medium;
    font-weight: 600;
}